.pokemonContainer {
  width: 80vw;
  max-width: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pokemonList {
  padding: 20px;
}

.pokemonContent {
  background-image: linear-gradient(to left top, #5e3518, #694807, #676000, #547900, #12931e);
  padding: 20px;
  border: 10px solid #efbc00;
  border-radius: 15px;
  min-height: 400px;
}